<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">LOGIN</a>
    </li>
    <li>
        <a routerLink="/auth/register">REGISTRARSE</a>
    </li>
    <h1>CRUD DE HÉROES</h1>
    <li>
        <a routerLink="/heroes/list">LISTAR HÉROES</a>
    </li>
    <li>
        <a routerLink="/heroes/search">BUSCAR HÉROE</a>
    </li>
    <li>
        <a routerLink="/heroes/add">AÑADIR HÉROE</a>
    </li>
    <li>
        <a routerLink="/heroes/edit">EDITAR HÉROE</a>
    </li>
    <li>
        <a routerLink="/heroes/get">MOSTRAR HÉROE</a>
    </li>
</ul>
