
<!-- https://angular.io/api/router/RouterOutlet -->
<!-- https://codingpotions.com/angular-router#:~:text=router%2Doutlet%20es%20una%20etiqueta,componentes%20hijos%20de%20un%20componente. -->
<!-- COLOCO OTRO ROTUER-OUTLET PARA QUE CAPTE LAS RUTAS HIJAS DE ESTE COMPONENTE PADRE QUE ES EL HOME COMPONENT -->


<mat-sidenav-container fullscreen>
    
    <mat-sidenav #sidenav mode="push"><!-- creo una referencia local -->
        
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button
                    (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./list"
               mat-list-item
               (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>label</mat-icon>
                <span>Listado de Héroes</span>
            </a>
            <a routerLink="./add"
               mat-list-item
               (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <span>Añadir Héroe</span>
            </a>
            <a routerLink="./search"
               mat-list-item
               (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon>
                <span>Buscar Héroe</span>
            </a>
        </mat-nav-list>
    
    </mat-sidenav>

    <mat-toolbar>
        
        <button mat-icon-button
                (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <span class="spacer"><b>Usuario:</b> {{getUser.usuario}} </span>
        <button mat-flat-button
                (click)="logOut()">
            Logout
        </button>

    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>